div {border:solid}

#cat {height: 33px; background-color: darkgrey; margin-bottom: 11px;text-align: center}

#dog {display:flex; flex-direction: row; justify-content: space-around;background-color: darkgrey; height:888px; margin-bottom: 11px;}

#boxer {height: 700px; width: 500px; background-color: skyblue; margin: 11px}
#doberman {height: 777px; width:555px; background-color: skyblue; margin: 11px}

#bird {display:flex; flex-direction: row; justify-content: space-between; background-color: darkgrey; height: 666px}

#crow {height: 222px;width: 111px; background-color: blue; margin:33px}

#sparrow {height: 333px;width: 111px; background-color: red; margin:33px}

#kiwi {height: 444px; width: 111px; background-color: white; margin:33px}